@font-face {
    font-family: 'segoe';
    src: url('../styles/fonts/s.ttf');
    font-weight: normal;
    font-style: normal;
}

@import '_variables';
@import '_mixins';
@import '_reset';
body {
    background: $bg;
    font: $font-stack;
    color: $primary-color;
}

a {
    color: $primary-color;
}

.header {
    @include boxshadow();
    background-color: transparent;
    overflow: visible;
    width: 100%;
    margin: 0 0 0 18px;
    position: static;
    height: auto;
    background-color: transparent;
    float: left;
    display: block;
    right: 0;
    transition: width .3s ease-out;
    z-index: 1000;
    height: 48px;
}

.header__wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    padding: 0;
    float: left;
    height: 48px;
    margin-top: 13px;
    box-sizing: border-box;
    img {
        max-height: 23px;
    }
}

.nav {
    float: left;
    max-height: 48px;
    margin-left: 15px;
}

.nav__item {
    float: left;
    padding: 14px 30px;
    box-sizing: border-box;
    a {
        padding-right: 7px;
    }
    &:hover {
        background-color: #f2f2f2;
    }
}

.sub-menu {
    display: none;
}

.header__signin {
    float: right;
}

.header__cart {
        @extend .nav__item;

    float: right;
    padding: 16px 10px;
            font-size: 80%;

    i {
        color: #7f7f7f;
        vertical-align: middle;
        float: left;
        padding: 2px 4px;
    }
}
.header__signin{
    @extend .header__cart;
}