	/*====================
======Typography=====
======================*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-weight: 400;
	background: #fff;
	color: #43484E;
    width: 100%;
    overflow: hidden
}
a:hover {
	outline: none;
	text-decoration: none;
}
a:focus {
	outline: none;
	outline-offset: 0;
}
a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color: gold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
}
li {
	list-style-type: none;
}
.slider-btn {
	color: #FFF;
	-webkit-box-shadow: inset 0 0 0 2px gold;
	box-shadow: inset 0 0 0 2px gold;
	text-transform: uppercase;
	width: 22%;
	text-align: center;
	line-height: 55px;
	padding: 0;
	font-size: 18px;
	font-weight: 800;
	border: 0;
    text-shadow: 1px 1px 1px #000;
1	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.slider-btn:hover {
	background-color: #43484E;
	-webkit-box-shadow: inset 0 0 0 2px #43484E;
	box-shadow: inset 0 0 0 2px #43484E;
	color: #fff
}
.parallax-section {
	min-height: 300px;
	width: 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.vertical-middle {
	width: 100%;
	height: 100%;
	display: table;
}
.vertical-middle div {
	display: table-cell;
	vertical-align: middle;
}
.home-pattern {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-image: url(../images/home-pattern.png);
    background-repeat: repeat;
    opacity: 0.2;
}
/*====================
======Header CSS=====
======================*/

#navigation .navbar {
	background: rgba(255, 255, 255, 0.952941);
	border-radius: 0;
	border-bottom: 0;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;
	padding-bottom: 8px;
}
#navigation .navbar-toggle {
	margin-top: 20px;
	background-color: #333;
}
#navigation .navbar-brand h1 {
	padding: 0;
	margin: 0;
	color: #fff;
}
#navigation .navbar-nav.navbar-right li {
	padding: 0 1px;
}
#navigation .navbar-nav.navbar-right {
	margin-top: 10px
}
#navigation .navbar-nav.navbar-right li a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all .9s ease 0s;
	-moz-transition: all .9s ease 0s;
	-o-transition: all .9s ease 0s;
	transition: all .9s ease 0s;
	padding: 6px 15px;
}
#navigation .navbar-inverse .navbar-nav .active a,
#navigation .navbar-inverse .navbar-nav .active a:focus,
#navigation .navbar-nav.navbar-right li a:hover {
	color: gold;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    background-color: inherit !important;
}

.navbar-inverse{
    background-color: #222 !important;
    border-color: #080808 !important;
}
.fixed {
	position: fixed;
	bottom: 0;
	z-index: 102;
	background-color: gold;
	color: #000;
	font-size: 30px;
	font-weight: 600;
	width: 100%;
	text-align: right;
	padding: 10px;
}
.fixed a{
	color:#000;
}
.fixed a,
.fixed a:active, 
.fixed a:visited{
		text-decoration: none;

}
.viber{
	display: inline-block;
}
.viber:before{
	content: '';
	background-image: url('../images/viber.png');
	width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    background-position: -1px 1px;
    background-repeat: no-repeat;
}
/*======================
====Main Slider CSS=====
=======================*/
.carousel-inner {
	background-image: url(../images/header_bg.jpg);
	background-size: cover;
	height: 700px;
}
#home {
	position: relative;
}
.slider-content {
	height: 100%;
}
.carousel-caption {
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 4%;
	z-index: 11;
}
.carousel-caption > div {
	vertical-align: middle;
	display: table-cell;
}
.carousel-inner h2 {
	color: gold;
	display: inline-block;
	font-size: 55px;
	font-weight: 800;
	margin-bottom: 40px;
	text-shadow: 1px 1px 2px #000;
	text-transform: uppercase;
    padding: 0 250px;
}
.carousel-inner h2 span {
	color: #7ab700;
}
.carousel-inner p {
	color: goldenrod;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 110px;
	margin-top: 0;
	text-shadow: 1px 1px 2px #000;
}
.carousel-left {
	left: -50px;
}
.carousel-right {
	right: -50px;
}
#main-carousel:hover .carousel-left {
	left: 0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
#main-carousel:hover .carousel-right {
	right: 0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
#main-carousel .carousel-left,
#main-carousel .carousel-right {
	padding: 15px;
	z-index: 12;
	font-size: 60px;
	color: rgba(255, 255, 255, 0.52);
	top: 50%;
	position: absolute;
	margin-top: -60px;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
.carousel-right {
	right: 65px
}
.carousel-left {
	left: 65px
}
#main-carousel .carousel-left:hover,
#main-carousel .carousel-right:hover {
	color: #F6F6F6;
}

/*=======================
====== About Us CSS =====
=========================*/

.feedback {
	padding-top: 65px;
}
#cost {
	overflow: hidden;
	padding-top: 30px;
}
hr{
    border-top: 1px solid darkgrey;
}
.title-one {
	color: #666666;
	display: inline-block;
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	position: relative
}
.title-one:after {
	color: gold;
	content: "||";
	position: absolute;
	right: -40px;
	top: -2px;
}
.title-one:before {
	color: gold;
	content: "||";
	left: -40px;
	position: absolute;
	top: 0;
}
#cost h4 {
	color: #909090;
	margin-bottom: 50px;
	margin-top: -5px;
	text-transform: capitalize;
}
#cost p {
	font-size: 18px;
	text-align: justify;
}
.cost .col-sm-6 {
	margin-top: 50px
}
.cost h3 {
	font-size: 20px;
	margin-bottom: 18px;
	text-transform: uppercase;
}
.cost .tab-content {
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 25px;
}
.cost .nav-tabs li a {
	border-top: 2px solid #f6f6f6;
	color: gold
}
.cost .nav-tabs li.active a,
.cost .nav-tabs li.active a:hover,
.cost .nav-tabs li.active a:focus {
	border-radius: 0;
	border-top: 2px solid gold;
	color: #333333;
}
.cost .tab-content .pull-left.media-object {
	background-color: #F6F6F6;
	margin-right: 20px;
	padding: 5px;
}
.skillbar {
	position: relative;
	display: block;
	margin-bottom: 18px;
	box-shadow: 1px 1px 0 0 #333333;
	width: 100%;
	background: #43484E;
	height: 35px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}
.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	background-color: gold;
}
.skillbar-title span {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: left;
	display: block;
	background-color: gold;
	padding: 0 15px;
	height: 35px;
	line-height: 35px;
}
.skillbar-bar {
	height: 35px;
	width: 0px;
	background-color: gold;
	box-shadow: 0 1px 0 0 #333333;
}
.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	color: #ffffff;
}

/*====================
======Service CSS=====
======================*/

#stock {
	color: #fff;
	text-align: center;
}
.stock {
	display: block;
	overflow: hidden;
	margin-top: 50px
}
#stock h2 {
	color: #fff;
	border-color: #fff;
	margin-bottom: 35px
}
.single-service {
	background-color: rgba(0, 0, 0, 0.39);
	padding: 25px;
	text-align: center;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}
.single-service p {
	text-align: justify;
}
.single-service i {
	text-align: center;
	font-size: 80px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 150px;
	line-height: 150px;
	width: 150px;
	color: #43484E;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}
.single-service:hover {
	background-color: gold;
}
.single-service:hover i {
	color: gold;
	-moz-transform: scale(1.1) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

/*=====================
======Our Team CSS=====
=======================*/

#contacts {
	padding: 65px 0;
}
#stock .btn {
	width: 250px;
}
#contacts .btn {
	width: 350px;
}
#our-team {
	background-color: #f6f6f6;
	color: #43484E;
}
#our-team h2 {
	color: #43484E;
	margin-bottom: 35px;
}
#our-team .team-members {
	padding: 0;
	margin-top: 55px;
	display: block;
	overflow: hidden
}
.single-member {
	height: 430px;
	background-color: #43484E;
	border: 1px solid #43484E;
	color: #f6f6f6;
	padding: 25px;
	text-align: center;
	overflow: hidden;
}
.single-member img {
	width: 100%
}
.single-member h4,
.single-member h5 {
	text-align: center
}
#our-team .socials i {
	background-color: #fff;
	border-radius: 50%;
	color: #43484E;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	line-height: 28px;
	margin-right: 5px;
	text-align: center;
	width: 30px;
	border-width: 1px;
	border-color: #43484E;
	border-style: solid;
	opacity: .5;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#our-team .socials a i:hover {
	opacity: 1;
	color: #fff;
	border: 0
}
#our-team .socials a .fa-facebook:hover {
	background: #3B5997;
}
#our-team .socials a .fa-twitter:hover {
	background: #29C5F6
}
#our-team .socials a .fa-pinterest:hover {
	background: #C61118
}
#our-team .socials a .fa-dribbble:hover {
	background: #FF5C93
}
#our-team .socials a .fa-linkedin:hover {
	background: #006DC0
}
#our-team .socials a .fa-google-plus:hover {
	background: #D13D2F
}
#our-team .socials a .fa-flickr:hover {
	background: #7A797B
}
.member-left,
.member-right {
	position: absolute;
	top: -43px;
	color: #43484E
}
.member-left {
	left: 49%;
}
.member-right {
	left: 51%
}

/*======================
======Portfolio CSS=====
========================*/

#portfolio {
	padding-top: 70px;
	padding-bottom: 100px;
	background: #F6F6F6
}
#portfolio p,
#portfolio h2 {
	margin-bottom: 30px;
}
#portfolio .portfolio-filter {
	margin-bottom: 40px;
	margin-top: 10px;
}
#portfolio .portfolio-filter li {
	display: inline-block;
}
#portfolio .portfolio-filter li a:hover,
#portfolio .portfolio-filter li a:focus,
#portfolio .portfolio-filter li a:active,
#portfolio .portfolio-filter li .active {
	border: 1px solid gold;
	color: #686868;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
}
#portfolio .portfolio-filter li a {
	color: #686868;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: rgba(67, 72, 78, 0);
	opacity: .8;
	border: 1px solid rgba(252, 119, 0, 0);
	border-radius: inherit;
}
.portfolio-items > div {
	padding: 0;
}
.portfolio-items img {
	width: 100%;
}
.view {
	cursor: default;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}
.efffect h4 {
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s linear 0s;
}
.efffect h3 {
	opacity: 0;
	transform: scale(0);
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}
.efffect img {
	transform: scaleY(1);
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transition: all 0.7s ease-in-out 0s;
	-moz-transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out 0s;
	-o-transition: all 0.7s ease-in-out 0s;
}
.view img {
	display: block;
	position: relative;
}
.efffect .mask {
	background-color: #F6F6F6;
	border: 4px solid #333333;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
	opacity: 0
}
.view .mask,
.view .content {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.mask h3 {
	color: #43484E;
	font-family: cabin;
	font-size: 22px;
	font-weight: 700;
	margin-top: 30px;
	text-transform: uppercase;
	transition: height 500ms ease 0s;
}
.mask h4 {
	color: #000;
	font-family: roboto;
	font-size: 14px;
	font-weight: 200;
	padding: 0 35px 5px;
}
.mask i {
	border: 2px solid #333;
	border-radius: 50%;
	color: #333;
	font-size: 17px;
	margin-left: 8px;
	padding: 8px;
}
.mask i:hover {
	background-color: gold;
	color: #fff;
}

/*====================
======Clients CSS=====
======================*/

#clients {
	background-image: url("../images/clients/clients_bg.jpg");
	    background-color: #1E90FF;
	padding: 65px 0;
}
#clients {
	text-align: center;
}
#clients h2 {
	color: #fff;
}
#clients p {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
#clients p span {
	color: gold;
}
#partner {
	background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
	background-size: cover;
}
#partner {
	color: #fff;
	text-align: center;
}
#partner h2,
#partner h3 {
	color: #fff;
}
.partners ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.partners ul li {
	display: inline-block;
	float: left;
	width: 17%;
	margin-right: 30px;
}
.img-responsive {
	height: 90px;
}
.feedback-info i {
	width: 60px;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	color: #fff;
	background: #000;
	text-align: center;
	border-radius: 10px;
}
.feedback-info h2 {
	margin-top: 0;
	color: #000;
}
.feedback-info {
	color: #000;
}

/*=====================
======Our Blog CSS=====
======================*/

#blog {
	padding-bottom: 75px;
	padding-top: 75px
}
.blog-heading {
	margin-bottom: 35px;
	margin-top: 15px;
}
.single-blog {
	margin-bottom: 30px;
	background-color: #F7F7F7;
	padding: 25px;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	-webkit-box-shadow: 0 2px 0 0 #ddd;
	box-shadow: 0 2px 0 0 #ddd;
}
.single-blog:hover {
	background-color: #43484E;
	color: #fff
}
.single-blog:hover.single-blog h2 {
	color: #fff
}
.single-blog:hover.single-blog .btn-primary {
	background-color: gold;
	color: #fff;
	border-color: #fff;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}
.single-blog img {
	width: 100%;
	margin-bottom: 20px
}
.single-blog h2 {
	color: #43484E;
	font-size: 24px;
}
.single-blog h2 {
	margin: 0;
	margin-bottom: 15px;
}
.single-blog ul {
	padding: 0;
	overflow: hidden;
}
.single-blog ul li {
	border-right: 2px solid #999999;
	float: left;
	line-height: 10px;
	list-style: none;
	margin-right: 10px;
	padding-right: 10px;
	font-size: 12px;
	color: #999;
}
.single-blog ul li:last-child {
	border: none;
}
.blog-content {
	margin-bottom: 25px;
	margin-top: 0;
}
.single-blog .btn-primary {
	text-transform: uppercase;
	border: 1px solid gold;
	color: #686868;
	background-color: rgba(255, 255, 255, 0);
	border-color: gold;
}
.single-blog:hover.single-blog .btn-primary:hover {
	background-color: gold;
	color: #fff;
}
#blog-detail .modal-body {
	padding: 30px;
}
#blog-detail .modal-body img {
	width: 100%
}
#blog-detail .close {
	margin-right: -15px;
	margin-top: -25px;
}
.lists{
	overflow: hidden;
}
.list {
	display: inline-block;
	float: left;
	width: 52%;
	text-align: left;
	margin-right: -36px;
}
.list i {
	color: limegreen;
	font-size: 31px;
}

/*====================
======feedback CSS=====
======================*/

#feedback {
	overflow: hidden;
	background-color: #f6f6f6;
	position: relative;
	border-top: 2px solid #ddd;
	padding-top: 65px;
}
#feedback .feedback-heading {
	padding-bottom: 35px;
	position: relative;
	z-index: 10;
}
#feedback p,
#contacts p,
#stock p,
#clients p {
	font-size: 18px;
}
.pattern {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
	left: 0;
	bottom: 0;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
	opacity: 0.2;
}
.steps {
	font-weight: 900;
	text-shadow: 1px 2px 1px #000;
	margin-top: -65px;
}
.feedback-address {
	background-color: #fff;
/*	height: 450px;*/
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;
}
.contact-address{
    text-align: center;
    font-size: 20px;
}
.contact-address a{
    color:#000;
}

address i {
	color: gold;
}

.copyright {
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 3em;
}
.pic-title {
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 0 22px 45px 22px;
}
.feedback-address .social-icons a i {
	border-radius: 0;
	height: 30px;
	line-height: inherit;
	width: 30px;
	border-width: 0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	margin-right: 10px
}
.feedback-address .social-icons i:hover {
	transform: scale(.9);
}
.social-icons a {
	color: #A2A2A2;
	font-size: 20px;
	border: 1px solid #A2A2A2;
	border-radius: 50%;
	text-align: center;
	padding: 6px;
	width: 44px;
	height: 44px;
	display: inline-block;
	margin: 2px;
}
.social-icons a:hover {
	color: gold;
	border: 1px solid gold;
}
.feedback-address .social-icons,
.feedback-address address {
	z-index: 2;
	position: relative
}
.feedback-address p {
	font-weight: 800;
	font-size: 24px
}
.feedback-address p span {
	color: gold;
}
#feedback-form-section {
	padding: 35px;
	background-color: #FFF;
	height: 390px;
}
#feedback-form-section .btn-primary {
	background-color: gold;
	border-color: #f6f6f6;
	border-radius: 0;
	padding: 10px 35px;
	text-transform: uppercase;
	font-weight: 800;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}
#feedback-form-section .btn-primary:hover {
	background-color: #43484E
}
#feedback-form input,
#feedback-form textarea,
#feedback-form .btn-primary {
	position: relative;
	z-index: 2;
}
#feedback-form .name-field,
#feedback-form .mail-field {
	width: 49%;
}
#feedback-form .name-field {
	margin-right: 2%;
	float: left
}
#feedback-form .mail-field {}
#feedback-form-section .form-control {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#feedback-form-section textarea {
	resize: none
}
#feedback-form-section .form-control:focus {
	border-color: gold;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*====================
======Footer CSS=====
======================*/

#footer {
	background-color: #f6f6f6;
	padding: 25px 0;
	color: #43484E;
	font-size: 16px;
	position: relative;
	margin-top: 1px;
}
#footer p {
	margin: 0
}
#footer a {
	color: gold
}

/*============================
======Carousel Effect CSS=====
==============================*/

.carousel.scale .carousel-inner > .item.left > div:nth-child(1),
.carousel.scale .carousel-inner > .item.right > div:nth-child(1) {
	-webkit-animation: fadeOutDown 300ms linear 0ms both;
	animation: fadeOutDown 300ms linear 0ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(1),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(1) {
	-webkit-animation: fadeInDown 300ms linear 75ms both;
	animation: fadeInDown 300ms linear 75ms both;
}
.carousel.scale .carousel-inner > .item.left > div:nth-child(2),
.carousel.scale .carousel-inner > .item.right > div:nth-child(2) {
	-webkit-animation: fadeOutDown 300ms linear 75ms both;
	animation: fadeOutDown 300ms linear 75ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(2),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(2) {
	-webkit-animation: fadeInDown 300ms linear 150ms both;
	animation: fadeInDown 300ms linear 150ms both;
}
.carousel.scale .carousel-inner > .item.left > div:nth-child(3),
.carousel.scale .carousel-inner > .item.right > div:nth-child(3) {
	-webkit-animation: fadeOutDown 300ms linear 150ms both;
	animation: fadeOutDown 300ms linear 150ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(3),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(3) {
	-webkit-animation: fadeInDown 300ms linear 225ms both;
	animation: fadeInDown 300ms linear 225ms both;
}
.carousel.scale .carousel-inner > .item.left > div:nth-child(4),
.carousel.scale .carousel-inner > .item.right > div:nth-child(4) {
	-webkit-animation: fadeOutDown 300ms linear 225ms both;
	animation: fadeOutDown 300ms linear 225ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(4),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(4) {
	-webkit-animation: fadeInDown 300ms linear 300ms both;
	animation: fadeInDown 300ms linear 300ms both;
}

/*==================================
====== Isotope Recommended CSS=====
====================================*/


/**** Isotope Filtering ****/

.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* End: Recommended Isotope styles */


/*==================================
====== Portfolio Hover effect=======
====================================*/

.efffect img {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.efffect .mask {
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	cursor: zoom-in;
}
.efffect h4 {
	background: transparent;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.efffect h3 {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 22px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.mask a i {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all 0.5s linear 0.7s;
	-moz-transition: all 0.5s linear 0.7s;
	-o-transition: all 0.5s linear 0.7s;
	-ms-transition: all 0.5s linear 0.7s;
	transition: all 0.5s linear 0.7s;
}
.efffect:hover img {
	-webkit-transform: scale(10);
	-moz-transform: scale(10);
	-o-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.efffect:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.efffect:hover h4,
.efffect:hover h3,
.efffect:hover a i {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.remodal-close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	overflow: visible;
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	color: #95979c;
	border: 0;
	outline: 0;
	background: transparent;
}
.remodal-close:hover,
.remodal-close:focus {
	color: #2b2e38;
}
.remodal-close:before {
	font-size: 25px;
	line-height: 35px;
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
	width: 35px;
	content: "\00d7";
	text-align: center;
}
.none{
    display: none;
}
.block{
    display: block;
}

.error_message{
    color: #f00;
}

.link_map {
    display: block;
}

.btn_map {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #fff;
    text-transform: uppercase;
    border: 1px solid #ccc;
}
.btn_map:hover{
    background-color: gold;
    font-weight: bold;
}

.btn_map:focus {
    outline: none;
}

iframe {
    border-radius: 20px;
}

.images {
    position: relative;
}

.before {
    width: 330px;
    height: 480px;
    display: block;
    background-image: url(../images/do.jpg);
    display: block;
}

.before:hover {
    background-image: url(../images/after.jpg);
}

.arrow {
    background-image: url(../images/ar01.png);
    width: 40px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 30%;
    transform: rotate(30deg);
}

.after {
    font-family: 'Neucha', cursive;
    width: 40px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 20%;
    transform: rotate(15deg);
    letter-spacing: 2px;
    font-size: 25px;
}
.feedback-heading{
    margin: 50px;
}
.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 30px;
}

.mask figure {
    overflow: hidden;
}

.mask figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.btn-warning {
    background-color: goldenrod;
    text-shadow: 1px 1px 1px #000;
    font-size: 25px;
    outline: none;
    display: block;
margin:30px auto;
}

.btn-warning:focus {
    outline: none;
}

.btn-warning:hover {
    color: #000;
}

.cost_block {
    text-align: center;
    overflow: hidden;
        margin-bottom: 50px;
}
.auto_img {
    background: url(../images/auto.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    margin: auto;
    border-radius: 100%;
}
.rotate {
    transform: rotate(330deg);
    position: absolute;
    height: 50px;
    bottom: 95px;
    padding: 0;
    right: -2px;
    border: 5px solid gold;
    border-radius: 5px;
    font-family: Calibri;
}

.uppercase {
    clear: both;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.1;
    padding: 0 85px 0;
    font-weight: 600;
    color: #000;
    margin-bottom: 50px;
    -moz-text-shadow: 5px 5px 20px gold;
    -webkit-text-shadow: 5px 5px 20px gold;
    text-shadow: 5px 5px 20px gold;
}

.stock-shadow{
    -moz-text-shadow: 0 0 10px #0ff;
    -webkit-text-shadow: 0 0 10px #0ff;
    text-shadow: 0 0 20px #0ff;
}

.pictures {
    height: 180px;
}

.picture_wrapper {
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
}

.check {
    position: absolute;
    background-image: url(../images/check-mark.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    left: 25%;
}

.cost_title {
        padding-top: 10px;
    padding-left: 45%;
    font-family: Jura,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.cost_text {
    padding: 0 40px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 25px;
    font-size: 23px;
    font-family: Jura,sans-serif;
}

.phrase {
    color: #000;
    padding: 10px 25%;
    text-align: center;
    font-variant: small-caps;
}

.phrase_auto {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    padding-top: 60px;
}

.plus {
  font-family: Jura, sans-serif;
  font-size: 20px;
    text-align: left;
}

.img-plus {
    background-image: url(../images/like.png);
    background-size: cover;
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
}

.bg-image1 {
    background: url('../images/bg/divider1.jpg') no-repeat;
    background-size: cover;
}

.bg-image2 {
    background: url('../images/bg/divider2.jpg')  no-repeat;
        background-size: cover;

}