*{
  margin: 0;
  padding: 0;
}

body {
	background-color: white;
}

.logo{
  margin: 0;
}

.header li a {
    float : left;
    color: white; /* Цвет текста активного пункта */
    padding : 10px 10px;
    text-decoration : none;
    font: 15px "Open Sans";
}

.header li a:hover {
    background-color: #393939; /* Цвет фона активного пункта */
    height: 20px;
    border-left:1px solid white;
    border-right:1px solid white;
   }

.header li {
	display : inline;
}

.page {
	height: 850px;
	width: 1050px;
	padding: 10px 10px 10px 15px;
	margin: 0px auto 20px;
	background-color: #ffffff;
	line-height: 1.5;
	border: 1px solid gainsboro;
}

.logo {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 20px 10px;
    width: 50px;
    height: 70px;
    }

.header{
    height: 40px;
    width : 990px;
    float: left;
    background-color: #4e4e4e;
    margin: 0px 30px 0px;
    list-style: none;
}

/*
.menu_main{
	width: 100px;
	margin: 0px 30px 0px 10px;
}

.menu_item{
  width: 80px;
  margin: 0px 0px 0px 10px;
}

.menu_about{
  width: 80px;
  margin: 0px 0px 0px 10px;
}

.menu_contact{
  width: 80px;
  margin: 0px 10px ;
}
*/

.sidebar {
    width: 280px; /* Ширина меню */
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 30px 10px 10px 30px; /* Убираем поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 10pt; /* Размер названий в пункте меню */
    float: left;
   }
.sidebar li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: grey; /* Цвет текста */
    border: 1px solid #ccc;/* Рамка вокруг пунктов меню */
    background-color: white; /* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
   }
.sidebar li a:hover {
    color: black; /* Цвет текста активного пункта */
    padding-left: 10px;
   }
.item_avto {
    border-bottom: 1px solid #ccc; /* Линия снизу */
  }

.content {
    float: right;
	width: 650px;
}

.photo{
	display: block;
	width: 650px;
	height: 380px;
	margin: 29px 30px 10px 10px;
	border-bottom: 1px solid #ccc;
	float: right;
}	

p {
 	display: block; 
	text-align: justify;
	float: right;
	width: 650px;
	font: 15px "Open Sans";
	line-height: 1.5;
  	margin: 10px 30px 5px 5px; 
}

.footer{
	height: 20px;
	width: 990px;
	background: #e1e1e1;
  	padding: 10px; /* Поля вокруг текста */
  	margin: 0px 30px 0px;
  	position: absolute;
	top: 800px;
}

.footer li a{
    float : left;
    color : black;
    padding : 2px 10px;
    text-decoration : none;
    font: 15px "Open Sans";
}

.footer li a:hover {
    height: 20px;
    text-decoration: underline;
}

 .footer li {
	 display : inline;
}

.copyright {
	margin-left: 500px;
}
