@import url(https://fonts.googleapis.com/css?family=Arimo);
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFEFD5;
	font-family: 'Arimo';
}

header {
	background-color: #A0522D;
	color: #fff;
	text-align: center;
	height: 75px;
}

h1 {
	padding: 15px;
}

nav {
	background-color: #FFE4E1;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

main {
	display: block;
	line-height: 25px;
	margin: 20px auto;
	width: 80%;
}

.navigation {
	display: block;
	margin: 0 auto;
	width: 50%;
	position: relative;
	clear: both;
}

.navigation__item {
	display: inline-block;
	padding: 15px;
	position: relative;

}

.navigation__item ul {    
    
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:102px;
}

.navigation__item ul li{    
    padding: 15px;
}
/*

.dropdown a::after {
  content: '▼';
  font-size: 80%;
  color: #000;
	padding-left: 2px;
}
*/
.dropdown {
	position: relative;
}

.navigation__item:hover {
	background-color: #FF7F50;
}

.navigation__item:hover a{
	color: #00FFFF;
}

ul.submenu {
    display:none;
}

ul.submenu li {
	padding-top: 15px;
}
