body {
    margin: 0px;
    padding: 0px;
    color: #fff;
    background: #000;
    position: relative;
    font-family: Arial, sans-serif;
}
#intro_logo {
    position: absolute;
    width: 280px;
    height: 280px;
    background: url(../img/logo.png);
    top: 21px;
    left: 50%;
    margin-left: -140px;
}
#line {
    position: absolute;
    width: 100%;
    height: 19px;
    background: url(../img/line.png) 100%;
    top: 300px;
}
#links {
    position: absolute;
    width: 300px;
    height: 32px;
    left: 50%;
    margin-left: -150px;
    top: 295px;
}
#links span {
    position: absolute;
    top: 6px;
    left: 38px;
}
#en {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    display: inline;
}
#hr {
    position: absolute;
    left: 160px;
    top: 2px;
    cursor: pointer;
    display: inline;
}
#footer {
    position: absolute;
    bottom: 30px;
    width: 340px;
    height: 11px;
    left: 50%;
    margin-left: -170px;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
video {
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.round {
    border-radius: 100px;
    /* Радиус скругления */
    border: 1px solid black;
    /* Параметры рамки */
    box-shadow: 0 0 7px #666;
    /* Параметры тени */
    height: 25px;
    width: 25px;
}
a {
    text-decoration: none;
    color: #000;
}