li{
    list-style: none;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}
#header,#footer{
    width: 100%;
}
#left-menu{
    width: 20%;
    background-color: lavender
}
#content{
    width: 80%;
}

.navigation__list {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.navigation__list a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation__list a:hover {
  background: #00b7f5;
}
.category-list{
    padding: 0;
}
.category{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase
}
.category:hover{
    background:  deepskyblue
}
.products {
  width: 90%;
  margin: 0 auto;
}

.search-field {
  width:40%;
  padding: 5px;
  font-size: 16px;
margin: 10px auto;
    border: 1px solid #000;
}
.search-label{
    position: relative;
}
.search-label:after{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../img/search.png);
        background-size: cover;
    position: absolute;
    top: -10px;
    left: -25px;
    
}
.products-list {
  padding: 0;
  width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.product {
    align-items: center;
    font-family: sans-serif;
    padding: 5px;
    border: 1px solid grey;
    width: 32%;
    margin: 10px auto;
    height: 200px;
    display: flex;
}

.product-image {
    margin: auto;
    width: 50%;
    
}
.product-info{
    margin: auto;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
}

.product-number {
  font-size: 18px;
  color: grey;
}
.modal-dialog .product{
    width: 100%;
}
.modal-dialog .product-image{
    height: 100%;
}
@media all and (min-width: 800px) {
  #content    { flex: 3 0px; }
  #left-menu { order: 1; } 
  #content   { order: 2; }
  #footer  { order: 4; }
}
