* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 660px;
  margin: 0 auto;
}
.timerWrapper {
  margin-top: 40px;
  font-size: 100px;
  font-weight: bolder;
  background-color: #FFFFE0;
  border: 10px solid #000;
  border-radius: 10px;
  text-align: center;
}

.millisec {
	font-size: 20px;
	margin-left: 460px;
}

.buttons {
 text-align: center;
 margin-top: 20px;
}
.btn {
  font-size: 45px;
  color: #000;
  border: 10px solid #000;
}

.splits {
  font-size: 50px;
  text-align: center;
}
