.partners-icon1, .partners-icon2, .partners-icon3, .partners-icon4
{ display: inline-block; background: url('../../img/release/sprite_icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.partners-icon1 { background-position: -1px -0px; width: 41px; height: 41px; }
.partners-icon2 { background-position: -43px -0px; width: 41px; height: 40px; }
.partners-icon3 { background-position: -43px -41px; width: 41px; height: 41px; }
.partners-icon4 { background-position: -1px -42px; width: 41px; height: 41px; }
