$fontMB10:bold 10px "Montserrat";
$fontMB14: bold 14px "Montserrat";
$fontMB16:bold 16px "Montserrat";
$fontMB24:bold 24px "Montserrat";
$fontMB20:bold 21px "Montserrat";
$fontMB24:bold 24px "Montserrat";
$fontMB22:bold 22px "Montserrat";
$fontMB30:bold 30px "Montserrat";
$fontMB52:bold 52px "Montserrat";


$fontMR10:normal 10px "Montserrat";
$fontRL18:300 18px "Roboto";
$fontRL14:300 14px "Roboto";
$fontRL24:300 24px "Roboto";


$colorwhite: #fff;
$colordark: #333;
$colorgrey: #ccc;
$colorbright:#ff4e50;


