    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
    @import '_variables';
    @import '_mixins';
    @import '_reset';
    @import '_sprites';
    body {
        background-color: #fff;
    }
    
    .wrapper {
        margin: 0 auto;
        min-width: 320px;
    }
    
    .header {
        width: 100%;
        height: 540px;
        margin: 0 auto;
        background: url(../../img/release/header.svg) top center no-repeat;
        color: $colorwhite;
        &-overlay {
            background-color: rgba(0, 0, 0, 0.2);
            height: 100%;
            width: 100%;
        }
        &__wrapper {
            max-width: 940px;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;
        }
        .login {
            font: $fontMB14;
            text-align: center;
            margin-top: 25px;
            &--signup {
                @include whiteblock();
            }
        }
        .login__link {
            color: $colorwhite;
        }
        h2 {
            margin-top: 130px;
            font: $fontMB20;
        }
        h1 {
            margin-top: 35px;
            font: $fontMB30;
        }
        h3 {
            font: $fontRL18;
        }
        .login--find {
            @include redblock();
            font: $fontMB14;
            display: block;
            margin: 15px auto;
            width: 225px;
        }
    }
    
    .section__title {
        font: $fontMB22;
        color: $colordark;
        text-align: center;
        padding: 5px;
    }
    
    .description__wrapper {
        margin-top: 15px;
        .steps__slider{
            display: none;
        }
        .step {
            height: 250px;
            color: $colorwhite;
            position: relative;
            width: 300px;
            margin: 0 auto;
            &__number {
                position: absolute;
                top: 60px;
                left: 10px;
                @include redblock();
                padding: 6px 14px;
                margin: 10px;
                letter-spacing: 3px;
                font: $fontMR10;
            }
            &__title {
                padding: 100px 0 0 20px;
                font: $fontMB24;
            }
            &__text {
                font: $fontRL14;
                color: $colorgrey;
                padding: 20px;
            }
        }
        .step--1 {
            background: url(../../img/release/step1.png) top center no-repeat;
        }
        .step--2 {
            background: url(../../img/release/step2.png) top center no-repeat;
        }
        .step--3 {
            background: url(../../img/release/step3.png) top center no-repeat;
        }
    }
    
    .partners {
        text-align: center;
        margin-bottom: 25px;
        &__wrapper {
            padding-top: 15px;
            .partners__list {
                .partners__item {
                    padding-bottom: 10px;
                    .partners__photo {
                        position: relative;
                        width: 121px;
                        height: 121px;
                        margin: 0 auto;
                    }
                    .icon {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                    }
                    .partners__name {
                        font: $fontMB14;
                        color: $colordark;
                        padding: 10px 0;
                    }
                    .partners__info {
                        font: $fontRL14;
                        color: #666;
                        padding: 15px 50px;
                        ;
                    }
                }
            }
            .partners__other {
                font: $fontMB14;
                display: block;
                @include whiteblock();
                border-color: $colorbright;
                color: $colorbright;
                width: 225px;
                margin: 15px auto;
                padding: 10px 40px;
            }
        }
    }
    
    .img-grid {
        text-align: center;
        p {
            font: $fontRL18;
        }
        .grid {
            overflow: hidden;
            max-width: 100%;
            margin: 0 auto;
            &-item {
                position: relative;
                width: 90%;
                margin: 15px auto;
            }
            .img__item {
                width: 100%;
                overflow: hidden;
                position: relative;
                border-radius: 4px;
                height: 120px;
            }
            .img__tag {
                position: absolute;
                top: 40%;
                width: 100%;
                text-align: center;
                font: $fontMB22;
                color: $colorwhite;
                text-transform: capitalize;
            }
        }
        .img__search {
            width: 280px;
            border: 1px solid $colorgrey;
            color: $colordark;
            font: $fontRL14;
            margin: 10px;
            padding: 10px;
            border-radius: 4px;
        }
        .partners__search {
            display: block;
            @include redblock();
            font: $fontMB14;
            margin: 15px auto;
            width: 225px;
            color: $colorwhite;
        }
    }
    
    .footer {
        border-top: 4px solid $colorbright;
        margin-top: 40px;
        &__wrapper {
            color: $colordark;
            margin-top: 20px;
            text-align: center;
            h2 {
                font: $fontMB16;
                color: $colorbright;
            }
            h4 {
                font: $fontMB14;
                padding-top: 15px;
            }
            .nav {
                &__item {
                    display: inline-block;
                    .nav__link {
                        font: $fontRL14;
                        color: $colorgrey;
                    }
                }
            }
            span {
                font: $fontMB10;
                display: block;
                padding-top: 20px;
                color: $colorgrey;
                letter-spacing: 2px;
            }
            img {
                display: block;
                margin: 15px auto;
            }
        }
    }
    /*MEDIA QUERIES*/
    
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        .header {
            height: 700px;
            &__wrapper {
                .login {
                    float: right;
                    margin: 40px;
                }
                h2 {
                    float: left;
                    margin: 40px;
                }
                h1 {
                    @include clearfix();
                    font: $fontMB52;
                    margin-top: 210px;
                    padding: 0 100px;
                }
                h3 {
                    font: $fontRL24;
                    padding-top: 15px;
                }
                .login--find {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .steps__static {
            display: none;
        }
        .description {
            height: 535px;
            .jcarousel-wrapper-position {
                margin: 37px auto;
                text-align: center;
                overflow: hidden;
            }
            .steps__slider{
                display: block;
            }
            .jcarousel-wrapper {
                display: inline-block;
                width: 235px;
                overflow: hidden;
                text-align: center;
                position: relative;
                    margin: 8px;

            }
            
            .jcarousel-1,
            .jcarousel-2,
            .jcarousel-3 {
                display: block;
                overflow: hidden;
                width: 235px;
                position: relative;
            }
            .jcarousel-1 ul,
            .jcarousel-2 ul,
            .jcarousel-3 ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .jcarousel-1 li,
            .jcarousel-2 li,
            .jcarousel-3 li {
                float: left;
                width: 298px;
                margin-left: -30px;
            }
            .jcarousel-1 li img,
            .jcarousel-2 li img,
            .jcarousel-3 li img {
                width: 100%;
                height: 400px;
            }
            .jcarousel-prev-1,
            .jcarousel-prev-2,
            .jcarousel-prev-3 {
                position: absolute;
                top: 40px;
                left: 23px;
                background: url(../../img/release/arrows_sprite.png) 0 0 no-repeat;
                width: 30px;
                height: 55px;
                display: inline-block;
                cursor: pointer;
            }
            .jcarousel-next-1,
            .jcarousel-next-2,
            .jcarousel-next-3 {
                position: absolute;
                top: 40px;
                right: 9px;
                background: url(../../img/release/arrows_sprite.png) -30px 0px no-repeat;
                width: 40px;
                height: 55px;
                display: inline-block;
                cursor: pointer;
            }
            .inner__slider1,
            .inner__slider2,
            .inner__slider3 {
                position: absolute;
                margin-top: 130px;
                text-align: left;
                .step__title{
                    color:$colorwhite;
                }
            }
            .inner__slider2{
                margin-top: 160px;
            }
            
        }
        .partners {
            &__list{
                margin-top: 30px;
            }
            &__item{
                display: inline-block;
                float: left;
                width: 50%;
            }
            &__other{
                clear: both;
                width: 193px;
                padding: 10px 0;
            }
        }
        .img-grid{
            .grid-item{
                    width: 30%;
                    margin: 10px 10px;
                    display: inline-block;
            }
            .grid{
            .img__item{
                height: 311px;
            }
                #item--4, #item--5{
                    width: 63%;
                }
            }
            .partners__search{
                display: inline-block;
            }
        }
        .footer{
                @include clearfix();
                margin-top: 40px;
                height: 200px;
            .footer__wrapper{
                padding: 25px;
                width: 80%;
                margin: 0 auto;
                position: relative;
            h2{
                float: left;
                padding-right: 70px;
            }
            .nav{
                float: left;
                padding-right: 70px;

            }
                h4{
                    padding: 0;
                }
            .footer__title{
                padding: 0 70px 0 0;
                float: left;
            }
            span{
                float: left;
                padding-top: 3px;
                margin-left: 0;
                position: absolute;
                right: 0;
            }
            .nav__item{
                display: block;
            }
            }}
        
    }
@media (min-device-width: 1024px){
 .header {
            height: 700px;
            &__wrapper {
                .login {
                    float: right;
    margin: 47px 1px;
                    &__link{
    padding: 17px;
                    }
                }
                h2 {
                    float: left;
                    margin: 40px;

                }
                h1 {
                    @include clearfix();
                    font: $fontMB52;
                    margin-top: 215px;
                    padding: 0 175px;
                }
                h3 {
                    font: $fontRL24;
                    padding-top: 23px;
                }
                .login--find {
                    padding-left: 0;
                    padding-right: 0;
                    margin-top: 35px;
                }
            }
        }
    .steps__static {
            display: none;
        }
        .description {
            height: 535px;
            &__wrapper{
                margin-top: 90px;

            .jcarousel-wrapper-position {
                margin: 21px auto;
                text-align: center;
                overflow: hidden;
            }
            .steps__slider{
                display: block;
            }
            .jcarousel-wrapper {
                display: inline-block;
                overflow: hidden;
                text-align: center;
                position: relative;
                    margin: 8px;

            }
            
            .jcarousel-1,
            .jcarousel-2,
            .jcarousel-3 {
                display: block;
                overflow: hidden;
                width: 298px;
                position: relative;
            }
            .jcarousel-1 ul,
            .jcarousel-2 ul,
            .jcarousel-3 ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .jcarousel-1 li,
            .jcarousel-2 li,
            .jcarousel-3 li {
                float: left;
                width: 298px;
            }
            .jcarousel-1 li img,
            .jcarousel-2 li img,
            .jcarousel-3 li img {
                width: 100%;
                height: 400px;
            }
            .jcarousel-prev-1,
            .jcarousel-prev-2,
            .jcarousel-prev-3 {
                position: absolute;
                    top: 153px;
    left: 17px;
                background: url(../../img/release/arrows_sprite.png) 0 0 no-repeat;
                width: 30px;
                height: 55px;
                display: inline-block;
                cursor: pointer;
            }
            .jcarousel-next-1,
            .jcarousel-next-2,
            .jcarousel-next-3 {
                position: absolute;
                top: 153px;
                right: 15;
                background: url(../../img/release/arrows_sprite.png) -30px 0px no-repeat;
                width: 40px;
                height: 55px;
                display: inline-block;
                cursor: pointer;
            }
            .inner__slider1,
            .inner__slider2,
            .inner__slider3 {
                position: absolute;
                margin-top: 130px;
                text-align: left;
                .step__title{
                    color:$colorwhite;
                }
            }
            .inner__slider2{
                margin-top: 160px;
            }
            }
        }
     .partners {
            &__list{
                margin-top: 30px;
            }
            &__item{
                display: inline-block;
                float: left;
                width: 25%;
            }
            &__other{
                clear: both;
                width: 193px;
                padding: 10px 0;
            }
        }
        .img-grid{
            .grid__wrapper{
                    width: 60%;
    margin: 0 auto;
            
            .grid-item{
                    width: 30%;
                    margin: 10px 10px;
                    display: inline-block;
            }
            .grid{
            .img__item{
                height: 311px;
            }
                #item--4, #item--5{
                    width: 63%;
                }
            }
            .partners__search{
                display: inline-block;
            }
        }
    }
.footer{
                @include clearfix();
                margin-top: 40px;
                height: 200px;
            .footer__wrapper{
                padding: 25px;
                width: 80%;
                margin: 0 auto;
                position: relative;
            h2{
                float: left;
                padding-right: 70px;
            }
            .nav{
                float: left;
                padding-right: 70px;

            }
                h4{
                    padding: 0;
                }
            .footer__title{
                padding: 0 70px 0 0;
                float: left;
            }
            span{
                float: left;
                padding-top: 3px;
                margin-left: 0;
                position: absolute;
                right: 0;
            }
            .nav__item{
                display: block;
            }
            }}}
