    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
    @import '_variables';
    @import '_mixins';
    @import '_reset';
    @import '_sprites';
    body {
    	background-color: #fff;
    }
    .wrapper {
    	margin: 0 auto;
    	min-width: 320px;
    }
    .header {
    	width: 100%;
    	height: 540px;
    	margin: 0 auto;
    	background: url(../../img/release/header.svg) top center no-repeat;
    	color: $colorwhite;
    	&-overlay {
    		background-color: rgba(0, 0, 0, 0.2);
    		height: 100%;
    		width: 100%;
			margin: 0 auto;
    		max-width: 1440px;
    	}
    	&__wrapper {
    		margin: 0 auto;
    		overflow: hidden;
    		text-align: center;
    		max-width: 940px;
    	}
    	.login {
    		font: $fontMB14;
    		text-align: center;
    		margin-top: 25px;
    		&--signup {
    			@include whiteblock();
    		}
    		& a:hover {
    			color: $colorbright;
    			border-color: $colorbright;
    		}
    	}
    	.login__link {
    		color: $colorwhite;
    	}
    	h2 {
    		margin-top: 130px;
    		font: $fontMB20;
    	}
    	h1 {
    		margin-top: 35px;
    		font: $fontMB30;
    	}
    	h3 {
    		font: $fontRL18;
    	}
    	.login--find {
    		@include redblock();
    		font: $fontMB14;
    		display: block;
    		margin: 15px auto;
    		width: 225px;
    		&:hover {
    			background-color: $colorwhite;
    			color: $colorbright;
    		}
    	}
    }
    .section__title {
    	font: $fontMB22;
    	color: $colordark;
    	text-align: center;
    	padding: 5px;
    }
    .description__wrapper {
    	max-width: 1024px;
    	margin: 15px auto;
    	margin-top: 15px;
    	.steps__slider {
    		display: none;
    	}
    	.step {
    		height: 250px;
    		color: $colorwhite;
    		position: relative;
    		width: 300px;
    		margin: 0 auto;
    		&__number {
    			position: absolute;
    			top: 60px;
    			left: 10px;
    			@include redblock();
    			padding: 6px 14px;
    			margin: 10px;
    			letter-spacing: 2px;
    			font: $fontMR10;
    			color: $colorwhite;
    		}
    		&__title {
    			padding: 100px 0 0 20px;
    			font: $fontMB24;
    		}
    		&__text {
    			font: $fontRL14;
    			color: $colorgrey;
    			padding: 20px;
    		}
    	}
    	.step--1 {
    		background: url(../../img/release/step1.png) top center no-repeat;
    	}
    	.step--2 {
    		background: url(../../img/release/step2.png) top center no-repeat;
    	}
    	.step--3 {
    		background: url(../../img/release/step3.png) top center no-repeat;
    	}
    }
    .partners {
    	text-align: center;
    	margin-bottom: 25px;
    	&__wrapper {
    		padding-top: 15px;
    		max-width: 1024px;
    		margin: 0 auto;
    	}
    	&__item {
    		padding-bottom: 10px;
    	}
    	&__photo {
    		position: relative;
    		width: 121px;
    		height: 121px;
    		margin: 0 auto;
    	}
    	.icon {
    		position: absolute;
    		bottom: -5px;
    		right: -5px;
    	}
    	&__name {
    		font: $fontMB14;
    		color: $colordark;
    		padding: 10px 0;
    	}
    	&__info {
    		font: $fontRL14;
    		color: #666;
    		padding: 15px 50px;
    	}
    	&__other {
    		font: $fontMB14;
    		display: block;
    		@include whiteblock();
    		border-color: $colorbright;
    		color: $colorbright;
    		width: 225px;
    		margin: 15px auto;
    		padding: 10px 40px;
    		&:hover {
    			color: $colorwhite;
    			background-color: $colorbright;
    		}
    	}
    }
    .img-grid {
    	text-align: center;
    	p {
    		font: $fontRL18;
    	}
    	.grid {
    		margin: 0 auto;
    		width: 300px;
    		&-item {
    			background-position: center;
    			background-size: cover;
    			border-radius: 5px;
    			height: 120px;
    			margin-bottom: 10px;
    			width: 300px;
    			position: relative;
    			a {
    				background-color: rgba(0, 0, 0, .4);
    				border-radius: 5px;
    				display: table;
    				height: 100%;
    				text-decoration: none;
    				width: 100%;
    			}
    		}
    		.img__tag {
    			display: table-cell;
    			vertical-align: middle;
    			text-align: center;
    			font: $fontMB22;
    			color: $colorwhite;
    			text-transform: capitalize;
    		}
    	}
    	.img__search {
    		width: 280px;
    		border: 1px solid $colorgrey;
    		color: $colordark;
    		font: $fontRL14;
    		margin: 10px;
    		padding: 10px;
    		border-radius: 4px;
    	}
    	.partners__search {
    		display: block;
    		@include redblock();
    		font: $fontMB14;
    		margin: 15px auto;
    		width: 225px;
    		color: $colorwhite;
    		&:hover {
    			background-color: $colorwhite;
    			color: $colorbright;
    			border: 2px solid $colorbright;
    		}
    	}
    }
    .footer {
    	border-top: 4px solid $colorbright;
    	margin-top: 40px;
    	&__wrapper {
    		color: $colordark;
    		margin-top: 20px;
    		text-align: center;
    		max-width: 940px;
    		h2 {
    			font: $fontMB16;
    			color: $colorbright;
    		}
    		h4 {
    			font: $fontMB14;
    			padding-top: 15px;
    		}
    		.nav {
    			&__item {
    				display: inline-block;
    				.nav__link {
    					font: $fontRL14;
    					color: $colorgrey;
    					&:hover {
    						color: $colordark;
    					}
    				}
    			}
    		}
    		span {
    			font: $fontMB10;
    			display: block;
    			padding-top: 20px;
    			color: $colorgrey;
    			letter-spacing: 2px;
    		}
    		img {
    			display: block;
    			margin: 15px auto;
    		}
    	}
    }
    /*MEDIA QUERIES*/
    
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
    	.header {
    		height: 700px;
    		&__wrapper {
    			.login {
    				float: right;
    				margin: 40px;
    			}
    			h2 {
    				float: left;
    				margin: 40px;
    			}
    			h1 {
    				@include clearfix();
    				font: $fontMB52;
    				margin-top: 210px;
    				padding: 0 100px;
    			}
    			h3 {
    				font: $fontRL24;
    				padding-top: 15px;
    			}
    			.login--find {
    				padding-left: 0;
    				padding-right: 0;
    			}
    		}
    	}
    	.steps__static {
    		display: none;
    	}
    	.description {
    		height: 535px;
    		.jcarousel-wrapper-position {
    			margin: 37px auto;
    			text-align: center;
    			overflow: hidden;
    		}
    		.steps__slider {
    			display: block;
    		}
    		.jcarousel-wrapper {
    			display: inline-block;
    			width: 235px;
    			overflow: hidden;
    			text-align: center;
    			position: relative;
    			margin: 8px;
    		}
    		.jcarousel-1,
    		.jcarousel-2,
    		.jcarousel-3 {
    			display: block;
    			overflow: hidden;
    			width: 235px;
    			position: relative;
    		}
    		.jcarousel-1 ul,
    		.jcarousel-2 ul,
    		.jcarousel-3 ul {
    			width: 20000em;
    			position: relative;
    			list-style: none;
    			margin: 0;
    			padding: 0;
    		}
    		.jcarousel-1 li,
    		.jcarousel-2 li,
    		.jcarousel-3 li {
    			float: left;
    			width: 298px;
    			margin-left: -30px;
    		}
    		.jcarousel-1 li img,
    		.jcarousel-2 li img,
    		.jcarousel-3 li img {
    			width: 100%;
    			height: 400px;
    		}
    		.jcarousel-prev-1,
    		.jcarousel-prev-2,
    		.jcarousel-prev-3 {
    			position: absolute;
    			top: 40px;
    			left: 23px;
    			background: url(../../img/release/arrows_sprite.png) 0 0 no-repeat;
    			width: 30px;
    			height: 55px;
    			display: inline-block;
    			cursor: pointer;
    		}
    		.jcarousel-next-1,
    		.jcarousel-next-2,
    		.jcarousel-next-3 {
    			position: absolute;
    			top: 40px;
    			right: 9px;
    			background: url(../../img/release/arrows_sprite.png) -30px 0px no-repeat;
    			width: 40px;
    			height: 55px;
    			display: inline-block;
    			cursor: pointer;
    		}
    		.inner__slider1,
    		.inner__slider2,
    		.inner__slider3 {
    			position: absolute;
    			margin-top: 130px;
    			text-align: left;
    			.step__title {
    				color: $colorwhite;
    			}
    		}
    		.inner__slider2 {
    			margin-top: 160px;
    		}
    	}
    	.partners {
    		&__list {
    			margin-top: 30px;
    		}
    		&__item {
    			display: inline-block;
    			float: left;
    			width: 50%;
    		}
    		&__other {
    			clear: both;
    			width: 193px;
    			padding: 10px 0;
    		}
    	}
    	.img-grid {
    		.grid {
    			@include clearfix();
    			padding: 0 14px;
    			width: 768px;
    			&-item {
    				float: left;
    				height: 310px;
    				margin-bottom: 20px;
    				width: 235px;
    			}
				.grid-item--width2{
					width: 490px;
				}
    		}
    		.partners__search {
    			display: inline-block;
    		}
    	}
    }
    .footer {
    	@include clearfix();
    	margin-top: 40px;
    	height: 200px;
    	.footer__wrapper {
    		padding: 25px;
    		width: 80%;
    		margin: 0 auto;
    		position: relative;
    		h2 {
    			float: left;
    			padding-right: 70px;
    		}
    		.nav {
    			float: left;
    			padding-right: 70px;
    		}
    		h4 {
    			padding: 0;
    		}
    		.footer__title {
    			padding: 0 70px 0 0;
    			float: left;
    		}
    		span {
    			float: left;
    			padding-top: 3px;
    			margin-left: 0;
    			position: absolute;
    			right: 0;
    		}
    		.nav__item {
    			display: block;
    		}
    	}
    }
    @media (min-device-width: 1024px) {
    	.header {
    		height: 700px;
    		&__wrapper {
    			.login {
    				float: right;
    				margin: 47px 1px;
    				&__link {
    					padding: 16px;
    				}
    				&--signup {
    					padding: 7px 15px;
    				}
    			}
    			h2 {
    				float: left;
    				margin: 40px;
    				margin: 47px 0;
    			}
    			h1 {
    				@include clearfix();
    				font: $fontMB52;
    				margin-top: 215px;
    				padding: 0 175px;
    			}
    			h3 {
    				font: $fontRL24;
    				padding-top: 23px;
    			}
    			.login--find {
    				padding: 10px 0;
    				margin-top: 35px;
    			}
    		}
    	}
    	.steps__static {
    		display: none;
    	}
    	.description {
    		height: 535px;
    		&__wrapper {
    			margin-top: 90px;
    			.jcarousel-wrapper-position {
    				margin: 21px auto;
    				text-align: center;
    				overflow: hidden;
    			}
    			.steps__slider {
    				display: block;
    			}
    			.jcarousel-wrapper {
    				display: inline-block;
    				overflow: hidden;
    				text-align: center;
    				position: relative;
    				margin: 8px;
					    width: 30%;
    			}
    			.jcarousel-1,
    			.jcarousel-2,
    			.jcarousel-3 {
    				display: block;
    				overflow: hidden;
    				width: 298px;
    				position: relative;
    			}
    			.jcarousel-1 ul,
    			.jcarousel-2 ul,
    			.jcarousel-3 ul {
    				width: 20000em;
    				position: relative;
    				list-style: none;
    				margin: 0;
    				padding: 0;
    			}
    			.jcarousel-1 li,
    			.jcarousel-2 li,
    			.jcarousel-3 li {
    				float: left;
    				width: 298px;
    			}
    			.jcarousel-1 li img,
    			.jcarousel-2 li img,
    			.jcarousel-3 li img {
    				width: 100%;
    				height: 400px;
    			}
    			.jcarousel-prev-1,
    			.jcarousel-prev-2,
    			.jcarousel-prev-3 {
    				position: absolute;
    				top: 153px;
    				left: 17px;
    				background: url(../../img/release/arrows_sprite.png) 0 0 no-repeat;
    				width: 30px;
    				height: 55px;
    				display: inline-block;
    				cursor: pointer;
    			}
    			.jcarousel-next-1,
    			.jcarousel-next-2,
    			.jcarousel-next-3 {
    				position: absolute;
    				top: 153px;
    				right: 15px;
    				background: url(../../img/release/arrows_sprite.png) -30px 0px no-repeat;
    				width: 40px;
    				height: 55px;
    				display: inline-block;
    				cursor: pointer;
    			}
    			.inner__slider1,
    			.inner__slider2,
    			.inner__slider3 {
    				position: absolute;
    				margin-top: 157px;
    				text-align: left;
    				.step__title {
    					color: $colorwhite;
    				}
    			}
    			.inner__slider2 {
    				margin-top: 187px;
    			}
    			.step__number {
    				padding: 3px 11px;
    				margin: 12px;
    			}
    			.step__title {
    				padding: 106px 0 0 18px;
    			}
    			.step__text {
    				padding: 13px 18px;
    			}
    		}
    	}
    	.partners {
    		margin-bottom: 90px;
    		&__wrapper {
    			padding-top: 21px;
    		}
    		&__list {
    			width: 94%;
    			height: 244px;
    			margin: 27px auto;
    		}
    		&__item {
    			display: inline-block;
    			float: left;
    			width: 25%;
    		}
    		&__other {
    			clear: both;
    			width: 190px;
    			padding: 10px 0;
    		}
    		&__name {
    			padding: 17px 0 13px;
    		}
    		&__info {
    			padding: 0 20px;
    		}
    	}
    	.img-grid {
    		.grid__wrapper {
    			width: 74%;
    			margin: 0 auto;
    			.grid {
    				    padding: 0;
   						 width: 940px;
    				&-item {
    					width: 300px;
						    float: left;
    				height: 310px;
    			margin-bottom: 20px;
    				}
    				
    				.grid-item--width2 {
    					    width: 620px;
    				}
    				.img__tag {
    					top: 45%;
    				}
    			}
    			.partners__search {
    				display: inline-block;
    				width: 162px;
    				padding: 10px 0;
    			}
    			p {
    				padding-top: 27px;
    			}
    			.img__search {
    				margin: 38px 6px 0 0px;
    				width: 218px;
    			}
    		}
    	}
    	.footer {
    		@include clearfix();
    		margin-top: 86px;
    		height: 200px;
    		.footer__wrapper {
    			padding: 25px;
    			width: 80%;
    			margin: 0 auto;
    			position: relative;
    			h2 {
    				float: left;
    				padding-right: 175px;
    				padding: 11px 95px 0 70px;
    				letter-spacing: 1px;
    			}
    			.nav {
    				float: left;
    				padding: 11px 92px 0 0;
    				&__menu {
    					text-align: left;
    				}
    				&__item {
    					display: block;
    					line-height: 1;
    				}
    			}
    			h4 {
    				padding: 0 0 13px 0;
    			}
    			span {
    				float: left;
    				position: absolute;
    				top: 18px;
    				right: 95px;
    			}
    			.footer__title {
    				padding: 11px 70px 0 0;
    				float: left;
    			}
    			img {
    				margin: 6px auto;
    			}
    		}
    	}
    }